{% extends 'base.html.twig'%}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('css/customManagementBoard.css')}}">
{% endblock %}
{% block body %}
    <div class="container">


        <img src="{{asset('images/MB.jpg')}}" style="margin-top: 5em;margin-bottom: 0; " width="1140" height="267">
        <h2 class="header headingStrip" style="margin-top: 0;"><span class="glyphicon glyphicon-th-large"></span> Board of Directors</h2>
        <br />
        <p>
            The Board of Directors and Management of FiBank GHANA comprise very successful and accomplished professionals and entrepreneurs who have made notable marks in their chosen areas of endeavour. They include:
        </p>
        <h4 class="header headingStrip"><span class="glyphicon glyphicon-user"></span> Ms Matilda Parker -Acting Chairman of the Board</h4>
        <p>
            Ms. Matilda Parker serves as Managing Director of the National Port Authority of GHANA. She has worked as Senior Technical Director at AT&T (formerly SBC), Richardson, Texas. Ms. Parker has held Senior Management positions in various Financial Institutions including NEXTEL COMMUNICATIONS, Inc., Norcross, GA, where she served as Technical Director. She also worked at EQUANT (formerly Global One-Alliance between Sprint, Deutsche and France Telecom), Reston, VA, as Senior Program Manager for Technology Solutions, DC Institute for Mental Health as Director and subsequently, Senior Program Manager. Ms. Parker is a remarkable and innovative member of FiBank Board of Directors.
        </p>
        <h4 class="header headingStrip"><span class="glyphicon glyphicon-user"></span> Dr. Ogala Osoka - Vice Chairman</h4>
        <p>
            Dr. Osoka is the former Managing Director and Chief Executive Officer of Nigeria Reinsurance Corporation and National Insurance Company Nigeria Plc. He attended the City of London College and Nottingham University, UK. He is a Fellow of the Chartered Insurance Institute London; Fellow of the British Institute of Management; Associate Member the Chartered Institute of Arbitrators; and a Member of the African Insurance Organization. He has authored several books on Management, Insurance, and Personnel Administration including "Insurance and Development in Nigeria" and "Insurance and the Nigerian Economy." He was recently elected President of the Chartered Insurance Institute of Nigeria.
        </p>

        <h4 class="header headingStrip"><span class="glyphicon glyphicon-user"></span> Mr. Chukwuemeka F. Abone - Director</h4>
        <p>
            Mr. Abone is a Chartered Accountant with vast experience in Banking and Finance, Trade and Investments. He is the Chairman, FiBank Group and Consultant on various sectors of Economic Development.
        </p>
        <h4 class="header headingStrip"><span class="glyphicon glyphicon-user"></span> Ms Wannie A Bright – Member</h4>
        <p>
            Ms. Wannie Bright serves as Business Development Advisor with Pacific Architects and Engineers, Inc; based in Arlington, USA. Ms. Bright worked as Senior Consultant for Corporate Strategy with Accenture Ltd. in 2008, and with Pan African Capital Group, LCC. There, she served as Investment Officer working with groups from a number of African countries including GHANA, Sierra Leone, South Africa and Ghana. Ms. Bright worked as Associate Director for Market Intelligence in 2002 to 2005 with The NASDAQ Stock Market, Inc., and served as a Board Member of International Bank (GHANA) Limited from 2008 to 2011. She is also currently a Board Member of Alexander Cummings Entrepreneurship and Leadership Program, since 2010.
        </p>
        <h4 class="header headingStrip"><span class="glyphicon glyphicon-user"></span> Mr. Wole Sodipe – MD/CEO</h4>
        <p>
            Mr. Sodipe is an award winning Chartered Accountant who started his professional career with Arthur Andersen & Co. (now KPMG Professional Services) before joining the banking industry over 21 years ago. Until recently, Mr. Wole Sodipe was the Managing Director, Keystone Africa, responsible for Keystone Bank’s entire African operations outside Nigeria in West and East African countries, namely Sierra Leone, The Gambia, GHANA and Uganda. An alumnus of Institute of Management Development in Lausanne, Switzerland; Moody’s Risk Management Services Inc of the United States of America; Neptune Software Institute, Croydon, England, United Kingdom, the International Development in Dublin, Republic of Ireland, and the prestigious Wharton School, University of Pennsylvania, Philadelphia, Pennsylvania, USA. He is a Fellow of the Institute of Chartered Accountants of Nigeria; an Associate of the Chartered Institute of Taxation; member of the Chartered Institute of Bankers of Nigeria; Fellow of Institute of Credit Administrators of Nigeria. He was a non-Executive Director of several banks and other financial institutions.
        </p>

        <h3 class="header headingStrip"><span class="glyphicon glyphicon-th-large"></span> MANAGEMENT PROFILE</h3>
        <h4 class="header headingStrip"><span class="glyphicon glyphicon-user"></span> Mr. Wole Sodipe – MD/CEO</h4>
        <p>
            Mr. Sodipe is an award winning Chartered Accountant who started his professional career with Arthur Andersen & Co. (now KPMG Professional Services) before joining the banking industry over 21 years ago. Until recently, Mr. Wole Sodipe was the Managing Director, Keystone Africa, responsible for Keystone Bank’s entire African operations outside Nigeria in West and East African countries, namely Sierra Leone, The Gambia, GHANA and Uganda. An alumnus of Institute of Management Development in Lausanne, Switzerland; Moody’s Risk Management Services Inc of the United States of America; Neptune Software Institute, Croydon, England, United Kingdom, the International Development in Dublin, Republic of Ireland, and the prestigious Wharton School, University of Pennsylvania, Philadelphia, Pennsylvania, USA. He is a Fellow of the Institute of Chartered Accountants of Nigeria; an Associate of the Chartered Institute of Taxation; member of the Chartered Institute of Bankers of Nigeria; Fellow of Institute of Credit Administrators of Nigeria. He was a non-Executive Director of several banks and other financial institutions.
        </p>
        <h4 class="header headingStrip"><span class="glyphicon glyphicon-user"></span> Mrs. Rhonda Richards von Ballmoos – Deputy Managing Director</h4>
        <p>
            Prior to joining FiBank, Mrs. von Ballmoos worked with Citigroup, USA, for twenty years in various capacities in Mortgage Servicing, ranging from Customer Care Priority Specialist to Team Lead, Optional Insurance Services. She also served as Branch Manager in Retail and Commercial Banking at Citizens Bank of Maryland, USA.   Mrs. von Ballmoos holds a Bachelor of Science Degree from Howard University, Washington, D.C., USA, completed certificated courses at the American Institute of Banking, Washington, D.C.,  in Accounting and Banking, and several other training courses and seminars in Banking, Finance and Government Regulations.
        </p>

        <h4 class="header headingStrip"><span class="glyphicon glyphicon-user"></span> Mr. Daniel K. Wollo – Head Of Internal Controls Dept. & Chief Compliance Officer</h4>
        <p>
            Mr. Wollo holds a BBA Degree in Management from the University of GHANA, and presently is a candidate for MBA in Banking &Finance from the University of GHANA. He has served with FiBank GHANA since its inception in 2005.
        </p>

        <h4 class="header headingStrip"><span class="glyphicon glyphicon-user"></span> Mr. Godwin Ikechukwu Okoro - Group Head Of Risk Management & Controls</h4>
        <p>
            Mr. Okoro worked with National Bureau of Statistics; Hallmark Bank, Plc; NDIC & Etugo Oil & Gas Ltd as systems officer, internal auditor, etc in Nigeria for several years. He has served with FiBank since 2009. He holds a PDSc in Statistics from University of Ibadan, in Nigeria; a Graduate member of Royal Statistical Society of London; and an MBA in Management from the Ambrose Alli University, Ekpoma, in Nigeria.
        </p>

        <h4 class="header headingStrip"><span class="glyphicon glyphicon-user"></span> Mr. Nzie Nnanna Ebulu – Head Of Information Technology Dept.</h4>
        <p>
            Mr. Nzie holds a Bachelor Degree in Agric. Economics & Extension Management of the Federal University of Technology, Owerri, Imo State, Nigeria. He has several certifications in IT software devices and trainings in banking applications. He worked in various companies in Port-Harcourt, Rivers State, Nigeria as Computer expert; FiBank (Sierra Leone) as Asst. Systems/Database Administrator; FiBank (GHANA) as Systems/Database Administrator; UNDP Elect, Kabul, Afghanistan as Regional ICT Support Officer; Banktec Systems Inc. (GHANA) as Head, Project/Technical Support Unit (Africa Region); UBA (GHANA) as Head, IT Support until May, 2013 when he resigned and joined FiBank (GHANA) as Head, Information Technology Dept
        </p>

        <h4 class="header headingStrip"><span class="glyphicon glyphicon-user"></span> Mr. Clarence M. Baysah – Head Of Internal Audit</h4>
        <p>
            Mr. Clarence M. Baysah holds a Bachelor of Business Administration (BBA) Degree in Accounting from the African Methodist Episcopal University (AMEU), GHANA; He is an MBA candidate from the Cuttington University Graduate School of Professional Studies. He has several certificates and trainings in Audit & Compliance from the Banking Institute of GHANA; Audit & Control Enhancement training from UBA Academy, Ghana; IT Audit from the Information Technology Association of GHANA; and Leadership training in UBA Academy, Lagos-Nigeria. Mr. Clarence Baysah worked with Mombo & Company as Audit trainee in 2008; FiBank as Internal Auditor in 2009; UBA from March, 2011 where he served in different capacities to rise as Country Head of Audit/Chief Inspector until he resigned in October, 2013 and joined FiBank, GHANA as Head of Internal Audit.
        </p>

        <h4 class="header headingStrip"><span class="glyphicon glyphicon-user"></span> Mr. Samuel B. Bright – Head Of Finance And Accounts Dept.</h4>
        <p>
            Mr. Bright holds a Bachelor of Business Administration (BBA) Degree in Accounting from Stella Maris Polytechnic, GHANA; Diploma in Accounting/Finance & Certificate in Basic Computer Studies. He is a Chartered Accountant candidate (ACCA-level III: ICAG Exams) and MBA candidate of University of GHANA. He served in several capacities as Audit Senior with Voscon Certified Public Accountant Firm; Auditor with PKF; and Accountant with SKY Communication Inc.; and serviced numerous client in GHANA in different capacities.
        </p>

        <h4 class="header headingStrip"><span class="glyphicon glyphicon-user"></span> Mrs. Helen Charles Tangar – Head Of Commercial/Retail Banking Dept.</h4
        <p>
            Mrs. Tangar holds a Bachelor Degree in English & Mass Communication (BA) from the University of GHANA (UL). She is a journalist by profession and has several certificates and trainings in Public Relations, Marketing and Banking from the Banking Institute of GHANA. Mrs. Tangar worked as a news caster for few television stations in GHANA; as branch manager with UBA (GHANA) until she resigned in September, 2013 to join the FiBank (GHANA) as Head of Commercial/Retail Banking.
        </p>
    </div>
{% endblock %}
