{% extends 'base.html.twig'%}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('css/customBranchLocator.css')}}">
{% endblock %}
{% block body %}
    <div class="container" style="margin-top: 5em;">
        <div class="header text-center" style="font-weight: bold; color: #00CA00;"><h2>Branch & Outlet Locator</h2></div>
        <br />

        <div class="row">
            <div class="col-lg-12">
                <div class="thumbnail mapModule">
                    <div class="row">
                        <div class="col-lg-4">
                            <h4 class="mapHead">Tema</h4>
                            (Head Office)<br />
                            <span><strong>Tel:</strong>+231-886552153</span>

                            <div id="address">
                                Luke Building<br />
                                Near Cumberland Presbyterian Church<br />
                                Broad Street<br />
                                Comm.5.<br /> 
                                Tema, Ghana
                            </div>
                            <p style="color: #00CA00">Money Gram and western union Outlet</p>
                        </div>

                        <div id="map_1" class="col-lg-8" style="margin-top: 1.3em;">                    
                            <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false"></script><div style="overflow:hidden;height:302px;width:722px;" class="hidden-xs hidden-sm hidden-md"><div id="gmap_canvas4" style="height:302px;width:722px;" class="thumbnail"></div><style class="img-responsive">#gmap_canvas4 img{max-width:none!important;background:none!important}</style></div><script type="text/javascript"> function init_map(){var myOptions = {zoom:14, center:new google.maps.LatLng(5.666666999999999, 0), mapTypeId: google.maps.MapTypeId.ROADMAP}; map = new google.maps.Map(document.getElementById("gmap_canvas4"), myOptions); marker = new google.maps.Marker({map: map, position: new google.maps.LatLng(5.666666999999999, 0)}); infowindow = new google.maps.InfoWindow({content:"<b>Luke Building</b><br/>Cumberland Presbyterian Church Broad Street<br/>233 tema, Ghana" }); google.maps.event.addListener(marker, "click", function(){infowindow.open(map, marker); }); infowindow.open(map, marker); }google.maps.event.addDomListener(window, 'load', init_map);</script>
                        </div>
                    </div>
                </div>
            </div>            
        </div>


        <div class="row">
            <div class="col-lg-4">

                <div class="thumbnail mapModule">
                    <h4 class="mapHead" >Sunyani</h4>

                    <span><strong>Tel:</strong>+231-886514694</span>

                    <div id="address">

                        Behind Municipal Assembly,<br />
                        Sunyani, Sunyani<br />
                        Brong-Ahafo, Ghana
                    </div>
                    <p style="color: #00CA00">Money Gram and western union Outlet</p>

                    <div id="map_1">
                        <br />
                        <br />
                        <div style="overflow:hidden;height:279px;width:316px;"><div id="gmap_canvas1" style="height:279px;width:316px;" class="hidden-xs"></div><style>#gmap_canvas1 img{max-width:none!important;background:none!important}</style></div><script type="text/javascript"> function init_map(){var myOptions = {zoom:14, center:new google.maps.LatLng(7.328024, - 2.3208435999999892), mapTypeId: google.maps.MapTypeId.ROADMAP}; map = new google.maps.Map(document.getElementById("gmap_canvas1"), myOptions); marker = new google.maps.Marker({map: map, position: new google.maps.LatLng(7.328024, - 2.3208435999999892)}); infowindow = new google.maps.InfoWindow({content:"<b>Behind Municipal Assembly, Sunyani, </b><br/>Sunyani. Brong-Ahafo, Ghana<br/>233 Brong-Ahafo, Ghana" }); google.maps.event.addListener(marker, "click", function(){infowindow.open(map, marker); }); infowindow.open(map, marker); }google.maps.event.addDomListener(window, 'load', init_map);</script>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="thumbnail mapModule">
                    <h4 class="mapHead">Kumasi</h4>                
                    <span><strong>Tel:</strong>+231-886530679</span>

                    <div id="address">
                        Prempeh II Street,<br /> 
                        Adum-Kumasi.<br />
                        Kumasi Metropolis. Ghana
                    </div>
                    <p style="color: #00CA00">Money Gram and western union Outlet</p>
                    <div id="map_2">
                        <br />
                        <br />
                        <div style="overflow:hidden;height:279px;width:316px;"><div id="gmap_canvas2" style="height:279px;width:316px;" class="hidden-xs"></div><style>#gmap_canvas2 img{max-width:none!important;background:none!important}</style></div><script type="text/javascript"> function init_map(){var myOptions = {zoom:14, center:new google.maps.LatLng(6.6922104, - 1.6259658000000172), mapTypeId: google.maps.MapTypeId.ROADMAP}; map = new google.maps.Map(document.getElementById("gmap_canvas2"), myOptions); marker = new google.maps.Marker({map: map, position: new google.maps.LatLng(6.6922104, - 1.6259658000000172)}); infowindow = new google.maps.InfoWindow({content:"<b>Prempeh II Street, </b><br/>Adum-Kumasi <br/>233 kumasi, Ghana" }); google.maps.event.addListener(marker, "click", function(){infowindow.open(map, marker); }); infowindow.open(map, marker); }google.maps.event.addDomListener(window, 'load', init_map);</script>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="thumbnail mapModule">
                    <h4 class="mapHead">Accra</h4>                
                    <span><strong>Tel:</strong>+231-886539389</span>

                    <div id="address">                        
                        5th Volta Street Box 4431. <br />
                        Airport Residential, Accra.<br />
                        Accra, Ghana
                    </div>
                    <p style="color: #00CA00">Money Gram and western union Outlet</p>
                    <div id="map_2">
                        <br />
                        <br />
                        <div style="overflow:hidden;height:279px;width:316px;"><div id="gmap_canvas3" style="height:279px;width:316px;" class="hidden-xs"></div><style>#gmap_canvas3 img{max-width:none!important;background:none!important}</style></div><script type="text/javascript"> function init_map(){var myOptions = {zoom:14, center:new google.maps.LatLng(5.6154209, - 0.18830830000001697), mapTypeId: google.maps.MapTypeId.ROADMAP}; map = new google.maps.Map(document.getElementById("gmap_canvas3"), myOptions); marker = new google.maps.Marker({map: map, position: new google.maps.LatLng(5.6154209, - 0.18830830000001697)}); infowindow = new google.maps.InfoWindow({content:"<b>5th Volta Street </b><br/>Airport Residential, Accra<br/>233 Accra, Ghana" }); google.maps.event.addListener(marker, "click", function(){infowindow.open(map, marker); }); infowindow.open(map, marker); }google.maps.event.addDomListener(window, 'load', init_map);</script>
                    </div>
                </div>
            </div>
        </div>        
    </div>

{% endblock %}
