{% extends "base.html.twig"%}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('css/customPrivacy.css')}}">
{% endblock %}
{% block body %}

    <div id="mainContainer" class="container text-justify">
        <h2 class="header text-center" style="font-weight: bold;font-family: Times New Roman">FiBank Privacy Policy</h2>


        <li><h4>See how we protect your information:</h4></li>
        
        FiBank is a leading financial services provider in GHANA. FiBank is committed to protecting any personal information that you may provide to us.
        By using our site, you agree to accept the principles set out in this policy. FiBank reserves the right to amend or supplement this policy from time to time without giving notice to you. We may do this by publishing details of any changes on this web page. You agree to revisit this page regularly. Your continued access to, or use of our site, will mean that you have agreed to any changes we make.
        For the purposes of this policy, FiBank is the trading name of First International Bank (GHANA) Limited and any subsidiary, or other company which is associated with or affiliated with it or any such subsidiary in any country.
        
        <li><h4>Your questions</h4></li>
        
        If you have any questions and wish to contact us, please click on the section Contact Us. Telephone calls may be monitored and/or recorded. Please see our website Terms and Conditions for more details on using our site.
        
        <li><h4>Use of Personal Information</h4></li>
        
        In general, you can visit this site without telling us who you are or revealing any information about yourself. However, for some services or areas on the site, you will need to be registered.
        Where access to certain services or areas of our site require registration, you may be asked to provide us with information about you, such as your name and contact details, and we will tell you at the time of collection how we will use your personal information. Your personal information will be handled in accordance with the GHANA Data Protection legislation.
        
        <li><h4>Security of Collected Information</h4></li>
        
        We will take appropriate technical and organisational measures to ensure that we protect your personal data from unauthorised or unlawful processing, accidental loss, destruction and damage.
        
        <li><h4>Technical and Routing Information including Cookies</h4></li>
        
        A technology called cookies may be used to provide you with tailored information. A cookie is a tiny element of data that a web site can send to your browser, which may then be stored
        on your hard drive, so you can be recognised when you return. You may set your browser to notify you when you receive a cookie. Cookies are used on our web sites to monitor the traffic to the site. They are used to count the number of visitors to each page and to track the path each visitor takes to navigate this web site but no personal information about you is collected during this process. Even in this safe state, some security software may alert you to their presence. This is normal.
        If our web site requires you to register or login to gain access to the site, cookies are used to assist in this process. Cookies are used as part of the registration process. They are also used to store the username while the user is logged into the site and to track the number of times the user has tried to log in during a single visit. However, if you prefer not to accept cookies, you can set your browser to reject them or to alert you before one is placed.
        Please visit http <a href="http://www.allaboutcookies.org/manage-cookies/">http://www.allaboutcookies.org/manage-cookies</a> to discover how to disable and delete cookies.




    </div>


{% endblock %}