{% extends 'FIPBankBundle:Default:index.html.twig'%}
{% block title %}
    <title>System Management</title>
{% endblock %}

{% block brand %}
    <a class="navbar-brand" href="#">FiBank System Management Portal</a>
{% endblock %}

{% block item %}    
    <li>
        <a href="#"><i class="fa fa-wrench fa-fw"></i> Accounts<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                <a href="panels-wells.html">Customer Accounts</a>
            </li>
            <li>
                <a href="buttons.html">Admin Accounts</a>
            </li>            
        </ul>        
    </li>
    <li>
        <a href="#"><i class="fa fa-wrench fa-fw"></i> Settings<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                <a href="panels-wells.html">Profile Settings</a>
            </li>
            <li>
                <a href="buttons.html">Customer Profile Settings</a>
            </li>            
        </ul> 
    </li>

{% endblock %}

{% block header %}
    <h2 class="page-header">Transactions</h2>
{% endblock %}