{% extends "base.html.twig"%}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('css/customPrivacy.css')}}">
{% endblock %}
{% block body %}

    <div id="mainContainer" class="container text-justify">
        <h2 class="header text-center" style="font-weight: bold;font-family: Times New Roman">FiBank Website Terms & Conditions</h2>
<br />
        <h4>Please read the terms and conditions set out below carefully before using this website.</h4>
        This website is provided by First International Bank (Liberia) Limited ("FiBank"). By using the site or downloading materials from the site, you agree to abide by these terms and conditions ("Terms"). If you do not agree to abide by these terms and conditions do not use the site or download materials from the site.

        For these purposes, "you", "your" and "yours" means the person(s) who access the FiBank website (the "Website"). References to "we", "us" and "our" means First International Bank (Liberia) Limited trading as FiBank.

        Our products and services are subject to the terms and conditions and disclaimers of the applicable agreement governing their use. These Terms are to be read by you together with such other terms, conditions and disclaimers. In the event of any conflict, the terms, conditions and disclaimers applicable to specific products or services shall prevail over these Terms. When you apply for a product on our website, for your records, you should print or download the terms and conditions which govern your account, product or service.
        
        <li><h4>Trademarks and Copyright</h4></li>
        FiBank grants you a non-exclusive, non-transferable, limited right to access, use and display this Website and the materials thereon. You agree not to interrupt or attempt to interrupt the operation of the Website in any way.

        FiBank authorises you to view and download the information ("Materials") at this Website only for your personal, non-commercial use. This authorisation is not a transfer of title in the Materials and copies of the Materials and is subject to the following restrictions: 1) you must retain, on all copies of the Materials downloaded, all copyright and other proprietary notices contained in the Materials; 2) you may not modify the Materials in any way or reproduce or publicly display, perform, or distribute or otherwise use them for any public or commercial purpose; and 3) you must not transfer the Materials to any other person unless you give them notice of, and they agree to accept, the obligations arising under these terms and conditions of use. You agree to abide by all additional restrictions displayed on the Website as it may be updated from time to time.

        This Website, including all Materials, is copyrighted and protected by worldwide copyright laws and treaty provisions. You agree to comply with all copyright laws worldwide in your use of this Website and to prevent any unauthorised copying of the Materials. Except as expressly provided herein, FiBank does not grant any express or implied right to you under any patents, trademarks, copyrights or trade secret information.
        <li><h4>Email</h4></li>
        Messages sent by email cannot be guaranteed to be completely secure. They are subject to possible interception or loss or alteration. FiBank is not responsible for these and will not be liable to you or any other party for any damages or otherwise in connection with any email message sent by you to us or any email message sent by us to you.
        <li><h4>Disclaimers and Warranties</h4></li>
        WE HAVE TAKEN REASONABLE STEPS TO ENSURE THE ACCURACY AND COMPLETENESS OF THE INFORMATION ON THE WEBSITE. HOWEVER, THE MATERIALS AND INFORMATION CONTAINED IN THIS WEBSITE MAY CONTAIN INACCURACIES AND TYPOGRAPHICAL ERRORS. WE DO NOT WARRANT THE ACCURACY OR COMPLETENESS OF THE MATERIAL OR THE RELIABILITY OF ANY ADVICE, OPINION, STATEMENT OR OTHER INFORMATION DISPLAYED OR DISTRIBUTED THROUGH THE WEBSITE.

        YOU ACKNOWLEDGE THAT ANY RELIANCE ON ANY SUCH OPINION, ADVICE, STATEMENT OR INFORMATION SHALL BE AT YOUR SOLE RISK. FiBank RESERVES THE RIGHT, IN ITS SOLE DISCRETION, TO CORRECT ANY ERRORS OR OMISSIONS IN ANY PART OF THE WEBSITE.

        We do not warrant that this Website will be available to meet your requirements, that your access will be uninterrupted, that there will be no delays, failures, errors or omissions or loss of transmitted information, that no viruses or other contaminating or destructive properties will be transmitted or that no damage will occur to your computer system. You are solely responsible for maintaining adequate protection and back up of data and/or equipment and to undertake reasonable precautions to scan for computer viruses or other destructive properties.

        This Website is intended for users resident in Liberia. FiBank makes no representation that materials on this Website are appropriate or available for use at other locations outside Liberia.
        <li><h4>Data Protection</h4></li>
        We may, as a result of your interaction with this Website, hold and process your personal data (including updated contact details) to operate and manage any agreement you enter into with FiBank and our relationship with you and also:
        <ol>
        <li>for statistical analysis and to make credit decisions about you and others;</li>
        <li>to develop and improve our products, to form a view of you as an individual and to identify or design products (including products offered by others) that might interest you;</li>
        <li>to contact you with details of those products and for market research;</li>
        <li>in connection with other services and/or benefits related to your agreement; and</li>
        <li>to identify or tackle fraud, money laundering and other crime; to carry out regulatory checks and meet our obligations to any relevant regulatory authority or taxing authority</li>
        </ol>
        We may give your personal data to any person who provides a service to us (as long as they agree to keep it confidential), to other FiBank Group companies for them to use as set out above and to other organisations for them to use as set out above.
        <li><h4>Security of Collected Information</h4></li>
        We will take appropriate technical and organisational measures to ensure that we protect your personal data from unauthorised or unlawful processing, accidental loss, destruction and damage.
        <li><h4>Third Party Sites</h4></li>
        Where we have provided hypertext links to other locations and sites on the internet, we do so for information purposes only. If you use locations and sites, you will leave this Website.

        We are not responsible for the content of any other website or pages linked to or linking to our Website.

        FiBank makes no warranty or representation regarding, and does not endorse, any linked sites. We have not verified the content of those internet sites and you visit these at your own risk. We will not be responsible or liable for any damages or in other way in connection with the linking of sites on the internet.

        Links to downloadable software sites are for your convenience only. We are not responsible for or liable for any difficulties or consequences you suffer associated with downloading such software. The use of any downloaded software is governed by the terms of the licence agreement, if any, which will be provided with such software.
        <li><h4>Amend to these terms</h4></li>
        FiBank reserves the right, at its sole discretion, to change, modify, add or remove any portion of these Terms in whole or in part, at any time. Changes in these Terms will be effective when notice of such change is posted. Your continued use of the Website after any changes to the Terms are posted will be considered acceptance of those changes. FiBank may terminate, change, suspend or discontinue any aspect of the Website, including the availability of any features of the Website, at any time. FiBank may also impose limits on certain features and services or restrict your access to parts or the entire Website without notice or liability. FiBank may terminate the authorisation, rights and license given above and, upon such termination, you shall immediately destroy all Materials.
        <li><h4>Governing Law</h4></li>
        These Terms are governed by and interpreted in accordance with the laws of Liberia and the courts of this jurisdiction have non-exclusive jurisdiction in respect of any dispute which may arise.

    </div>


{% endblock %}