{% extends 'base.html.twig'%}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('css/customManagementBoard.css')}}">
{% endblock %}
{% block body %}
    <div class="container">
        <img src="{{asset('images/valuesB.jpg')}}" style="margin-bottom: 0;margin-top: 5em;" class="img-responsive img-thumbnail">
        <h3 class="header headingStrip" style="margin-top: 0;">OUR CORE VALUES & BELIEFS</h3>
        <p>At FiBank, we are committed to our shared beliefs and values, which are:-</p>
        <h4><span class="glyphicon glyphicon-king"></span> RESPONSIVE</h4>
        <ul>
            <li>Putting customers at the centre of everything we do through spending timed listening to our customer to understand who are and how they operate to anticipate their needs:
            <li>Train and empower employees to deliver great service and be able to take right decisions which positively impact customers, within risk controls
            <li>Take personal ownership in all dealings with customers; be knowledgeable about what we do and promise only what we can deliver
            <li>Understanding that all employees are different and have unique talents and individual needs.
        </ul>

        <h4><span class="glyphicon glyphicon-king"></span> INTEGRITY</h4>
        <ul>
            <li>Demonstrating the quality of being honest, professional and having strong moral values in all transactions within or outside the Bank:
            <li>Our people are what make us different and above other organisations through their unique ability to build trusted and lasting relationships with all stakeholders
            <li>Meaning what we say, being able to explain our actions, doing what we promise and being consistent in our approach. It also requires us to be honest and transparent in our dealings.
            <li>Employees will make the right decisions and trusted to act accordingly
            <li>Team success is as critical as individual success if we are to achieve our business goals. Trust and Integrity are the building blocks of any successful team and working as ONE BANK productively
        </ul>

        <h4><span class="glyphicon glyphicon-king"></span> COMMITMENT</h4>
        <ul>
            <li>It means delivering on promises and seeing through initiatives no matter how challenging the circumstances might be. It can be considered as a contract between the bank and its stakeholders: employees, customers, regulators, etc . . . and no matter what situation could arise; one should always be seen to be committed to delivering on what that contract embeds:</li>
            <li>Willingness to go the extra mile in-order to deliver beyond expectations</li>
            <li>Commitment to improve on the welfare of employee’s commitment to meet the expectations of all stakeholders</li>
        </ul>

        <h4><span class="glyphicon glyphicon-king"></span> COURAGEOUS</h4>
        <ul>
            <li>Creating an environment where employees feel confident in expressing their views in the knowledge that these will be valued, even where they run counter to prevailing thinking:</li>
            <li>Encouraging employees to take considered risks to deliver improved results for all our stakeholders (where this results in mistakes, we seek to learn from our experience, to build better long-term solutions).</li>
            <li>Giving open and constructive feedback and take the right decisions to continually improve on performance</li>
            <li>Supporting employees to give them courage to develop their talents and skills so that they can make a difference, and the confidence to achieve challenging goals.</li>
        </ul>
        <h4><span class="glyphicon glyphicon-king"></span> CREATIVE</h4>       
        <ul>
            <li>Encouraging employees who can see a better way of doing things to contribute their ideas as well as letting people decide the best way of doing things and providing support where required:</li>
            <li>Setting clear expectations whilst at the same time giving employees the freedom to achieve their goals in the way which is best determined by individual talents.</li>
            <li>Allowing employees to take measured risks, recognizing that creativity comes from experimentations rather than limiting our thinking to the tried</li>
        </ul>
        <h4><span class="glyphicon glyphicon-king"></span> HONESTY</h4>
        <ul>
            <li>Being honest about what we can commit to, and then ensuring delivery.</li>
            <li>Keeping people advised about important developments which may affect them and how they work:</li>
            <li>To tell the truth in all circumstances, no matter what the consequences</li>
            <li>Not to be deceitful and pretentious in character</li>
            <li>Frank and straightforward</li>
            <li>Being clear with goals and objectives and reward schemes</li>
        </ul> 

        <h4><span class="glyphicon glyphicon-king"></span> EMPATHY</h4>
        <ul>
            <li>The ability to share someone else's feelings or experiences by imaging what it would be like to be in their own situation:</li>
            <li>Taking time to understand our customer's needs and looking for ways to satisfy them</li>
            <li>Understanding that customers are not expected to know; we should educate them</li>
            <li>Always endeavouring to say ‘yes' to our customers by listening to them carefully and coming up with win-win solutions whist not compromising controls</li>
            <li>Ensuring that our staff feel that someone cares for their personal and professional growth</li>
            <li>Use every situation as an opportunity to get to know our staff better and avoiding blame versus lessons learnt</li>
            <li>Being there for our staff and customers alike during their period of need</li>
        </ul>
        <br />
        <h4>STANDARDS (Step-up)</h4>
        Always aim high for the best in all we do, within risk operational guidelines, both in terms of product and service delivery standards. Strive to excel and perform beyond expectations always, and be seen as role models of FiBank.
        
    </div>
{% endblock %}
